---
import type { Exercise, NavItem } from "../data/navigation";
import { isCurrentPath } from "../data/navigation";
import ExerciseDropdown from "./ExerciseDropdown.astro";
import Tooltip from "./Tooltip.astro";

interface Props {
  item: NavItem;
  index: number;
  exercises: Exercise[];
  currentItem: NavItem | undefined;
}

const { item, index, exercises, currentItem } = Astro.props;
const isCurrent = isCurrentPath(Astro.url.pathname, item.href);
const isIndividualPage =
  Astro.url.pathname.replace(/\/$/, "").match(/\/\d+$/) !== null;
const showDropdown = isCurrent && exercises.length > 0 && currentItem;
const tooltipId = `nav-tooltip-${index}`;
---

<li class:list={["nav-link", { separator: item.separator }]}>
  <a
    interestfor={tooltipId}
    data-astro-prefetch
    style={`view-transition-name: --current-link-text-${index};`}
    aria-current={isCurrent ? "page" : undefined}
    href={item.href}
  >
    <span class="nav-icon">
      <item.icon width={16} height={16} stroke-width={2} />
    </span>
    <span class="nav-label">{item.text}</span>
  </a>
  {
    showDropdown && (
      <ExerciseDropdown {currentItem} {exercises} {isIndividualPage} />
    )
  }
  <Tooltip id={tooltipId} text={item.longText ?? item.text} />
</li>

<style>
  .nav-link {
    display: flex;
    align-items: center;
    anchor-name: --nav-link;
    anchor-scope: --nav-link;

    &.separator {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        inset-inline-start: -1.5px;
        inset-block: 0.4em;
        width: 1px;
        background: var(--gray-400);
      }
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      gap: var(--space-2);
      padding: var(--space-1) 0.75rem var(--space-1) 0.7rem;
      justify-self: start;
      color: var(--active, var(--gray-800));
      border-radius: 1e5px;
      font-weight: 500;
      font-size: 0.9rem;
      text-decoration: none;
      line-height: 1.25;
      transition: 0.15s;
      view-transition-class: current-link-text;
      isolation: isolate;

      &[aria-current]::before {
        content: "";
        position: fixed;
        position-anchor: --nav-link;
        position-area: center;
        place-self: stretch;
        border-radius: 1e5px;
        background: var(--gray-1000);
        transition: 0.15s;
        z-index: -1;
        view-transition-name: --current-link;
      }

      .nav-icon {
        display: grid;
      }

      &:not([aria-current="page"]) .nav-label {
        display: none;
      }

      &[aria-current] {
        --active: var(--gray-1000);
        color: var(--gray-100);
      }

      &:hover:not([aria-current]) {
        color: var(--gray-1000);
      }
    }
  }
</style>
