---
import { render } from "astro:content";
const { entry, index, total } = Astro.props;
const { id, data, collection } = entry;
const colID = id.split("/").pop();
const {
  title,
  draft,
  hints,
  customClass,
  help,
  startingCSS,
  startingHTML,
  image,
  video,
  videoWidth,
  videoHeight,
  boxContent,
  debug,
  scrollDirection,
} = data;

const { Content } = await render(entry);
const exerciseID = `${collection}-${colID}`;

// SDA uses a single box by default
const boxes = [1];

import ExerciseLabel from "./exercise/ExerciseLabel.astro";
import Editor from "./exercise/Editor.astro";
import SDAOutput from "./exercise/SDAOutput.astro";
import Hints from "./exercise/Hints.astro";
import TargetMedia from "./exercise/TargetMedia.astro";
import DebugButton from "./exercise/DebugButton.astro";
---

<section
  data-draft={draft ? "true" : undefined}
  data-exercise-key={exerciseID}
  class:list={["sda-exercise", customClass]}
>
  {draft && <div class="draft-label">DRAFT</div>}
  <ExerciseLabel {title} {index} {total} {exerciseID} />

  <article class="exercise-details">
    <div class="exercise-content">
      <Content />
      {hints ? <Hints {hints} /> : <div data-no-hints>Ingen hints</div>}
    </div>

    <TargetMedia {image} {index} {video} {videoWidth} {videoHeight} isSDA />
  </article>

  <div class="exercise-interactivity">
    <Editor
      id={exerciseID}
      startingCSS={startingCSS.trim()}
      {boxes}
      helpLink={help?.link}
      helpTopic={help?.topic}
      {startingHTML}
    />

    {debug && <DebugButton id={exerciseID} />}
    <SDAOutput {boxContent} {startingHTML} {debug} {scrollDirection} />
  </div>
</section>

<script>
  import "../js/sda-exercises.js";
</script>

<style>
  [data-draft="true"] {
    outline: 2px dashed oklch(from var(--ui-primary) 0.4 100% h);
  }
  .sda-exercise {
    .exercise-details {
      picture {
        position: relative;
        align-self: start;

        &::before,
        &::after {
          --offset: 1rlh;
          content: "";
          position: absolute;
          inset: 0 1px;
          pointer-events: none;
          border: 1px dashed var(--gray-300);
        }

        &::before {
          border-inline-width: 1px;
          margin-block: calc(-1 * var(--offset));
          mask: linear-gradient(
            #0000,
            #000 var(--offset) calc(100% - var(--offset)),
            #0000
          );
        }

        &::after {
          border-block-width: 1px;
          margin-inline: calc(-1 * var(--offset));
          mask: linear-gradient(
            90deg,
            #0000,
            #000 var(--offset) calc(100% - var(--offset)),
            #0000
          );
        }

        & + &::after {
          border-block-start-width: 0;
        }

        &:has(+ &)::after {
          border-block-end-width: 0;
        }
      }
    }

    .draft-label {
      :has(> &) {
        anchor-name: --section;
        anchor-scope: --section;
      }
      position: fixed;
      position-anchor: --section;
      position-area: center;
      place-self: start end;
      margin-inline-end: -1cap;
      margin-block-start: -1cap;
      border: 2px solid;
      color: oklch(from var(--ui-primary) 0.4 100% h);
      background: oklch(from var(--ui-primary) 0.95 20% h);
      font-size: 0.75rem;
      font-weight: 700;
      padding: 1cap;
      text-box: cap alphabetic;
      border-radius: inherit;
    }

    .exercise-content {
      text-wrap: pretty;
    }

    .exercise-interactivity {
      display: contents;

      @media (min-width: 895px) {
        grid-column: 1 / -1;
        display: inherit;
        grid-template-columns: inherit;
        grid-template-rows: min-content 1fr;
        gap: inherit;

        .editor {
          grid-row-end: span 2;
        }

        .sda-result {
          grid-row-start: 2;
          grid-column-start: 2;
        }

        .controls {
          grid-column: revert;
          justify-items: center;
        }
      }
    }
  }
</style>
