---
import { Icon } from "astro-icon/components";
import Popup from "./Popup.astro";
import Popover from "./Popover.astro";

const { id, startingCSS, hiddenCSS, startingHTML, helpLink, helpTopic, boxes } =
  Astro.props;

const labelID = id + "-label";
const exerciseNumber = id.match(/\d+[a-zA-Z]*/)[0].replace(/^0+/, "");
---

<div class="editor">
  <label for={labelID}><span>{`exercise-${exerciseNumber}.css`}</span></label>
  <div class="reset-buttons">
    <button class="reset">
      <span class="visually-hidden">Nulstil</span>
      <Icon name="refresh" width={20} height={20} stroke-width={2} />
    </button>
    <div class="button-group-confirm">
      <button data-accept="true" data-message="Accepter">
        <span class="visually-hidden">Accepter nulstilling</span>
        <Icon name="v" stroke-width={2} width={28} height={28} />
      </button>
      <button data-accept="false" data-message="Afvis">
        <span class="visually-hidden">Afvis nulstilling</span>
        <Icon name="x" stroke-width={2} width={28} height={28} />
      </button>
    </div>
  </div>
  <textarea
    id={labelID}
    autocorrect="off"
    autocomplete="off"
    spellcheck="false"
    autocapitalize="off"
    class="prism-live language-css line-numbers">{startingCSS}</textarea
  >

  <div class="editor-actions">
    {
      helpLink && helpTopic ? (
        <small>
          Har du brug for hjælp?
          <a href={helpLink} target="_blank" rel="noopener">
            <span>Lær mere om {helpTopic}</span>
            <Icon
              name="external-1"
              width={26}
              height={26}
              stroke-width={2.25}
              aria-label="åbner i nyt vindue."
            />
          </a>
        </small>
      ) : null
    }

    <Popup {id} {boxes} {startingHTML} />
  </div>

  <style is:inline class="style"></style>
  {
    hiddenCSS && (
      <style
        is:inline
        class="style-hidden"
        set:html={`[data-exercise-key="${id}"] .output ${hiddenCSS}`}
      />
    )
  }
</div>

<style>
  [data-icon="external-1"] {
    vertical-align: middle;
    margin-inline-start: 0.1em;
    stroke: currentColor;
  }
  .editor {
    anchor-name: --editor;
    position: relative;
    z-index: 1;
    background: var(--blue-800);
    margin: 0;
    justify-self: stretch;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    block-size: 100%;
    touch-action: none;
    border-radius: var(--bdrs-xl);

    block-size: calc(100% + 2 * var(--space-6));
    margin-inline-start: calc(-2 * var(--space-6));
    margin-block-end: calc(-2 * var(--space-6));
    box-shadow: 0 39.275px 70px -14.275px rgb(0 0 0 / 30%);

    .editor-actions {
      display: flex;
      align-items: center;
      gap: var(--space-4);
      border-top: 1px solid hsl(208 76% 26%);
      padding: var(--space-3) 0;
      margin-inline: calc(var(--space-2) + var(--space-1));
    }

    @media (max-width: 895px) {
      order: 1;
    }

    label {
      display: block;
      inline-size: 100%;
      font-size: 0.875rem;
      line-height: 0.9;
      /* padding: var(--space-4) var(--space-5); */
      padding: 0 var(--space-4) var(--space-4) 0;
      font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Helvetica Neue", Arial, sans-serif;
      font-weight: 500;
      color: var(--ui-secondary-a11y);
      /* border-radius: var(--bdrs-sm) var(--bdrs-sm) 0 0; */
      /* border-bottom: 1px solid #104675; */

      & span {
        background: linear-gradient(90deg, var(--blue-900) 90%, transparent);
        padding: 0.75rem 2rem 0.75rem 1rem;
        color: var(--blue-muted-comment);
        border-radius: 0;
        border-start-start-radius: var(--bdrs-xl);
        display: inline-block;
      }
    }
  }
  small {
    font-size: 0.8rem;
    font-weight: 500;
    color: hsl(209, 23%, 74%);
    position: relative;
    display: flex;
    gap: 0.5ch;
    flex-wrap: wrap;
    margin-inline-start: var(--space-2);

    & a:any-link {
      text-decoration: none;
      /* color: var(--blue-500); */
      color: var(--gray-100);
      gap: var(--space-1);
      align-items: center;

      & span {
        text-decoration: underline;
        text-decoration-color: var(--blue-500);
      }

      & svg {
        inline-size: 1.15em;
        block-size: 1.15em;
      }

      &:hover,
      &:focus-visible {
        color: #fff;

        & span {
          text-decoration: underline;
          text-decoration-color: currentColor;
        }
      }
    }
  }
  .reset-buttons {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: var(--space-2);
    z-index: 1;
    display: grid;
    gap: 0 0.4ch;
    place-items: end;
    margin-inline-end: var(--space-2);
  }

  .reset-buttons > * {
    grid-area: 1 / 1;
  }

  .button-group-confirm {
    display: flex;
    gap: 0.5ch;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s opacity;
  }

  .reset-buttons.active .button-group-confirm {
    opacity: 1;
    pointer-events: auto;
  }

  .reset-buttons.active > button {
    opacity: 0;
    pointer-events: none;
  }

  button[data-accept] {
    --btn-stroke: 0;
    --btn-theme: var(--blue-500);
    position: relative;
    color: #fff;
    padding: 0;
    inline-size: 28px;
    block-size: 28px;
    background: transparent;
    display: grid;
    place-content: center;
    border-radius: var(--bdrs-round);
  }

  :global(button path) {
    stroke-width: 3;
  }

  [astro-icon="check"],
  [astro-icon="x"] {
    stroke-width: 3;
  }

  button:focus-visible {
    --btn-stroke: 2px;
  }

  @media (hover: hover) {
    button:hover {
      --btn-stroke: 2px;
    }
  }
  button.reset {
    --opacity: 0;
    --btn-stroke: 0;
    --btn-theme: var(--blue-500);
    position: relative;
    color: #fff;
    padding: 0;
    inline-size: 28px;
    block-size: 28px;
    background: transparent;
    display: grid;
    place-content: center;
    border-radius: var(--bdrs-round);
  }

  button.reset::before {
    content: "Nulstil";
    text-transform: uppercase;
    position: absolute;
    inset-inline-end: 100%;
    margin-inline-end: var(--space-2);
    inset-block-start: 0;
    font-size: 0.7em;
    font-family: "Mona Sans";
    font-weight: 700;
    block-size: 28px;
    margin-block-start: 0.125em;
    display: grid;
    place-content: center;
    letter-spacing: 0.1em;
    pointer-events: none;
    transition: 0.3s;
    opacity: 0;
  }

  button.reset svg path {
    stroke-width: 3;
  }

  button:focus-visible {
    --btn-stroke: 2px;
  }

  @media (hover: hover) {
    button:hover {
      --btn-stroke: 2px;
    }
    button.reset:hover::before {
      opacity: 1;
    }
    button[disabled] {
      box-shadow: inset 0 0 0 0 var(--ui-accent);
    }
  }
</style>

<script>
  const sections = document.querySelectorAll("section");

  sections.forEach((section) => {
    const confirmButtons = section.querySelectorAll(
      ".button-group-confirm button"
    );

    confirmButtons.forEach((button) => {
      button.addEventListener("keydown", (event) => {
        const currentButton = event.target;
        let newButton;

        if (event.key === "ArrowRight" || event.key === "ArrowDown") {
          event.preventDefault();
          newButton = currentButton.nextElementSibling || confirmButtons[0];
        } else if (event.key === "ArrowLeft" || event.key === "ArrowUp") {
          event.preventDefault();
          newButton =
            currentButton.previousElementSibling ||
            confirmButtons[confirmButtons.length - 1];
        }

        if (newButton) {
          currentButton.setAttribute("tabindex", "-1");
          newButton.setAttribute("tabindex", "0");
          newButton.focus();
        }
      });
    });
  });
</script>
