---
import "/src/style/global.css";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, hasWarning, theme } = Astro.props;

const links = {
  Flexbox: {
    link: "/subgrid",
    label: "CSS Subgrid",
  },
  Grid: {
    link: "/flex",
    label: "CSS Flexbox",
  },
  Subgrid: {
    link: "/grid",
    label: "CSS Grid",
  },
  Defensive: {
    link: "/grid",
    label: "CSS Grid",
  },
};
const label = links[title].label;
const link = links[title].link;
---

<html lang="da" data-theme={theme}>
  <head>
    <Head title={title} />
    <style is:inline>
      @layer reset, prism, custom, components;
    </style>
  </head>
  <body>
    <Header {hasWarning} {title} />

    <main>
      <slot />
    </main>

    <Footer label={label} linkTo={link} />
    <script src="/script/bliss.js" fetchpriority="high"></script>
    <script src="/script/prism.js" fetchpriority="high"></script>
    <script src="/script/prism-live.js" fetchpriority="low"></script>
    <script src="/script/prism-live-markup.js" fetchpriority="low"></script>
    <script src="/script/prism-live-css.js" fetchpriority="low"></script>
    <script src="/script/prism-linenumbers.js" fetchpriority="low"></script>
    <script>
      import "../js/exercises";
    </script>
    <style>
      /* @font-face {
        font-family: flex;
        src: url("/assets/fonts/flexible-variable.woff2") format("woff2");
        font-stretch: 200% 1000%;
        font-weight: 700;
      } */

      [data-theme="green"] {
        --ui-primary: hsl(153.07deg 89.8% 80.78% / 95%);
        --ui-primary-dark: hsl(153.07deg 70% 65%);
        --ui-primary-border: hsl(153.07deg 79.8% 39.78%);
      }

      [data-theme="purple"] {
        --ui-primary: var(--violet-100);
        --ui-primary-dark: var(--violet-200);
        --ui-primary-border: var(--violet-400);
      }

      [data-theme="indigo"] {
        --ui-primary: oklch(89% 0.07 292.66 / 0.95);
        --ui-primary-dark: oklch(75% 0.1 292.66);
        --ui-primary-border: oklch(60% 0.07 292.66);
      }
      body {
        position: relative;
        --grid: 35;
        --bg: hsl(209deg 15% 96%);
        --pct: 20%;
        --lines: hsl(209deg 27% 88%); /*var(--blue-muted-comment)*/
        background:
          linear-gradient(to bottom, var(--bg), 65%, rgba(255, 255, 255, 0)) 0 0 /
            100% 30vh no-repeat,
          linear-gradient(90deg, var(--bg), var(--pct), #fff0),
          linear-gradient(-90deg, var(--bg), var(--pct), #fff0),
          conic-gradient(from 90deg at 1px 1px, #0000 90deg, var(--lines) 0) 50%
            0 / calc((1200px - 2rem) / var(--grid)) calc(1200px / var(--grid)),
          var(--bg);

        &::before {
          z-index: -1;
          pointer-events: none;
          position: absolute;
          inset: 0;
          opacity: 0.2;
          content: "";
          background-image: url("/assets/svg/noise.svg");
          background-size: 500px;
        }
      }
    </style>
  </body>
</html>
